 :root {
     --gray: #acacac;
     --singacolor: #71233d;
 }

 * {
     margin: 0;
     padding: 0;
 }

 body {
     font-family: Arial, sans-serif;
     background: #71233d;
 }

 header {
     display: flex;
     background-color: #acacac;
     align-items: center;
     justify-content: space-around;
     margin-bottom: 30px;
     width: 100%;
 }

 header img {
     height: 100px;
     padding: 8px;
 }

 h1 {
     text-align: center;
     color: white;
 }

 .camera {
     display: flex;
     flex-direction: column;
 }

 .b2 {
     display: flex;
     gap: 50px;
     background: #acacac;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     margin-top: 50px;
 }

 .cam {
     flex-direction: row;
     display: flex;
     gap: 15px;
 }

 .camera h3 {
     flex-direction: column;
     padding-bottom: 5px;
     border-bottom: #71233d solid 2px;
 }

 .assinatura h3 {
     padding-bottom: 5px;
     border-bottom: #71233d solid 2px;
 }

 .all {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

 }

 .btnsave button {
     margin-bottom: 20px;
     background: #acacac;
     color: #71233d;
     font-weight: bold;
 }

 .btnsave button:hover {
     background: #bb2557;
     color: white;
 }

 main {
     align-items: center;
     justify-content: center;
     display: flex;
     flex-direction: column;
 }

 form {
     background: #acacac;
     padding: 20px;
     border-radius: 10px;
     width: 900px;
     margin: auto;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }

 label {
     display: block;
     margin-top: 10px;
     font-weight: bold;
 }

 input,
 select {
     background-color: #cecece;
     width: 95%;
     align-items: center;
     justify-content: center;
     padding: 8px;
     margin-top: 5px;
     border-radius: 5px;
     border: 1px solid #71233d7e;
 }

 /* Input válido */
 input:valid {
     border-color: green;
     background-color: rgba(0, 128, 0, 0.233);
 }

 /* Input inválido */
 input:invalid {
     border-color: red;
     background-color: rgba(255, 0, 0, 0.233);
 }

 select {
     width: 97%;
     background-color: rgba(113, 35, 61, 0.233);
 }

 button {
     margin-top: 15px;
     padding: 10px 15px;
     background: #71233d;
     border: none;
     color: #fff;
     border-radius: 5px;
     cursor: pointer;
 }

 button:hover {
     background: #bb2557;
 }

 .camera,
 .assinatura {
     margin-top: 15px;
     text-align: center;
 }


 video,
 canvas {
     background-color: #cecece;
     border: 1px solid #71233d;
     border-radius: 5px;
 }

 #assinatura {
     background: #cecece;
     cursor: crosshair;
 }

 @media screen and (max-width: 750px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header img {
        height: 60px;
        margin-bottom: 10px;
    }

    h1 {
        border-bottom: #71233d solid 2px;
        padding-bottom: 5px;
        width: 100%;
    }

    form {
        width: 350px;
        padding: 15px;
    }

    .b2 {
        flex-direction: column;
        width: 350px;
    }

    .b1 {
        display: flex;
    }
    .cam {
        flex-direction: column; /* vídeo e foto abaixo um do outro */
        align-items: center;
        width: 100%;
    }

    video,
    canvas {
        width: 100% !important;
        height: auto !important;
    }

    input,
    select,
    button {
        font-size: 16px;
        padding: 12px;
        width: 100%;
        box-sizing: border-box;
    }

    .btnsave button {
        width: 200px;
    }


}